.MuiDataGrid-cell[data-value="Common"] {
	color: #90a4ae;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Uncommon"] {
	color: #66bb6a;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Rare"] {
	color: #42a5f5;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Epic"] {
	color: #9575cd;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Legendary"] {
	color: #ff7043;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Zero"] {
	color: #f8b595;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="One"] {
	color: #f67280;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Two"] {
	color: #c06c84;
	font-weight: bold;
}

.MuiDataGrid-cell[data-value="Three"] {
	color: #6c5b7c;
	font-weight: bold;
}

.rightAlign {
	position: absolute;
	right: 0;
}
