.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
}

.App-link {
    color: #61dafb;
}

#appbar {
    color: white;
    margin-bottom: 20px;
}

.MuiDataGrid-cell[data-value=Common] {
    color: #5b858e;
}

.MuiDataGrid-cell[data-value=Uncommon] {
    color: #34cb48;
}

.MuiDataGrid-cell[data-value=Rare] {
    color: #0681e9;
}

.MuiDataGrid-cell[data-value=Epic] {
    color: #9e3bf8;
}

.MuiDataGrid-cell[data-value=Legendary] {
    color: #fa563b;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}